<%= form_with(model: dealership, local: true) do |form| %>
  <% if dealership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dealership.errors.count, "error") %> prohibited this dealership from being saved:</h2>
      <ul>
        <% dealership.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :oem %>
    <%= form.text_field :oem %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
