<h1>Car Details</h1>
<p>
  <strong>Year:</strong> <%= @car.year %><br>
  <strong>Make:</strong> <%= @car.make %><br>
  <strong>Model:</strong> <%= @car.model %><br>
  <strong>Trim:</strong> <%= @car.trim %><br>
  <strong>Count:</strong> <%= @car.count %><br>
  <strong>Dealership:</strong> <%= @car.dealership.name if @car.dealership %>
</p>
<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
